.banner {
    position: relative;
    background: black;

    .carrousel {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;

        .item {
            position: absolute;
            width: 100%;
            height: 60vh;

            .img {
                bottom: auto !important;
            }
        }
    }

    .nav {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 95%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .item {
            width: 40px;
            height: 40px;
            border: 1px solid white;
            margin-bottom: 5px;
            position: relative;
            cursor: pointer;

            &:hover {
                color: black;
                background-color: white;
            }

            &.next::before {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 40px;
                font-family: 'mnm';
                content: '\E80E';
            }

            &.prev::before {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 40px;
                font-family: 'mnm';
                content: '\E80F';
            }
        }
    }
}