.banner {
    &.banner-margenes {
        background: #3B3B3B;
        color: black;

        .img {
            width: 70%;
            height: 70%;
            right: 0;
            bottom: 0;
        }

        .nav {
            .item {
                background: white;
            }
        }
    }
}