.banner {
    &.banner-margenes {
        background: #3B3B3B;
        
        .contenedor-carrusel {
            max-width: 1600px;
            margin: auto;

            .img {
                width: 70%;
                height: 90%;
                right: 0;
                bottom: 0;
            }

            .nav {
                .item {
                    border-color: white;
                    border: none;
                }
            }
        }
    }
}
