.personas_slider {
    position: relative;
    max-width: 800px;
    margin: 0 auto;

    .persona_item {
        margin: 10px;

        .image-wrapper {
            width: 300px;
            height: 400px;
            background-size: cover;
        }
    }

    .hori_scroll div {
        border-radius: 20px;
        opacity: 1;
        font-weight: bold;
    }
}