.header-columna {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    &.invertido {
        flex-flow: row-reverse;
    }

    .titulo {
        margin: 50px 0;
        padding-left: 20px;
        color: $black;
        font-size: 56px;
    }

    .contenedor {
        display: flex;
   
        .left, .right {
            width: 100%;
        }

        .left {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            padding-left: 20px;

        }

        .right {
            display: flex;
            position: relative;

            img {
                background-size: cover;
                margin-left: 20%;
            }
        }
    }
}