.curaduria-ac {
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;

    @media all and (max-width: 980px){
        flex-wrap: wrap;
    }

    .left,
    .right {
        width: 50%;

        @media all and (max-width: 980px){
            width: 100%;
        }
    }

    .left {
        padding: 10px;
        .img {
            height: 300px;
            background-size: cover;
            background-position: center;
            border-radius: 5px;
        }
        .titulo {
            font-weight: 700;
            font-size: 1.25em;
            margin-bottom: 15px;
        }
    }

    .right {
        padding-left: 20px;
    }
}