.personas_slider {
    position: relative;
    width: 100%;
    margin: 0 auto;

    .hori_scroll {

        div {
            border-radius: 20px;
            opacity: 1;
            font-weight: bold;
        }
    }

    .persona_item {
        margin: 10px;

        .image-wrapper {
            width: 300px;
            height: 400px;
            background-size: cover;
        }

        .inside {

            .des {
                visibility:hidden;

            }
        }
    }

    .persona_item {

        &.is-selected {

            .des {
                visibility: visible;

            }
        }
    }
}