.banner {
    &.corto {
        max-height: 500px;
    }
    &.texto-imagen {
        display: flex;
        background: $grisclaro;

        .left, .right {
            width: 100%;
        }

        .left {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;

            .texto, .link {
                width: 100%;
                display: block;
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .img {
                background-size: cover;
            }
        }
    }
}