.personas_slider {
    position: relative;
    max-width: 800px;
    margin: 0 auto;

    .persona_item {
        .image-wrapper {
            width: 300px;
            height: 400px;
            background-size: cover;
        }
    }
}