.header-columna {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    &.invertido {
        flex-flow: row-reverse;
    }

    .titulo {
        margin: 50px 0;
        padding-left: 40px;
        color: $black;
        font-size: 56px;
    }

    .contenedor {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
   
        .left, .right {
            width: 100%;
        }

        .left {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            padding-left: 20px;

            .texto {
                width: 80%;
                color: $black;

                h3 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
            }

        }

        .right {
            display: flex;

        }
    }
}