.botones-carrousel {
    position: relative;
    
    .sec {
        display: block;
        width: 100%;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        
    }
    
    .hori_scroll {
        top: 60%;
        width: 95%;
        left: 2.5%;

        div {
            border-radius: 20px;
            opacity: 1;
            font-weight: bold;
        }
    }

    .boton {
        cursor: grab;
        width: 20.625em;
        height: 23.7em;
        display: inline-block;
        margin-right: 0.3125em;

        .img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center;
        }

        .name {
            padding: 0.5em;
            position: absolute;
            bottom: 0;
            color: #3B3B3B;
            font-size: 18px;
            transform: translate(0, 95%);
        }

        .subtitulo-tarjetas {
            position: absolute;
            bottom: 0;
            color: #9A9A9A !important;
            font-size: 14px !important;
            transform: translate(0, 150%);
            padding: 7px 9px;
        }

        @media all and (min-width: 1024px) {
            margin-right: 1.25em;
        }
    }
}