.botones-carrousel {
    
    position: relative;
    

    .hori_scroll {
        top: 60%;
        width: 95%;

        div {
            border-radius: 20px;
            opacity: 1;
            font-weight: bold;
        }
    }

    .botones {
        transform: translate(-10%, 0);
    }
    .boton {
        cursor: grab;
        width: 20.625em;
        height: 23.7em;
        display: inline-block;
        margin-right: 0.3125em;

        .img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center;
        }

        .name {
            padding: 0.5em;
            position: absolute;
            bottom: 0;
            color: #3B3B3B;
            transform: translate(0, 100%);
        }

        @media all and (min-width: 1024px) {
            margin-right: 1.25em;
        }
    }
}