.destacados-cc {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;

    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;

        li {
            width: 49.2%;

            a {
                display: block;

                .img {
                    height: 440px;
                    border-radius: 5px;
                }
            }

            .name {
                padding: 10px 0 10px 0;
            }
            
            .name h1 {
                font-size: 1.25em;
                padding-bottom: 4px;
            }
            
            .name h4 {
                font-family: 'Inter';
                font-weight: normal;
                color: $gris;
            }
        }
    }
}