.iconos-cc {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    background: #f3f3f3;

    .name {
        color: #999;
    }
}

.iconos-cc a.item > div {
    width: 100%;
}

.iconos-cc .icon {
    width: calc(100% - 20px);
    padding: 10px;
    cursor: pointer;

    svg {
        width: 40px;

        path, polygon {
            fill: #dcdcdc;
        }
    }
}

.iconos-cc a.item {
    display: block;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &:hover {
        .icon {
            svg {
                path, polygon {
                    fill: #999;
                }
            }
        }
    }

    &.active {
        .icon {
            svg {
                path, polygon {
                    fill: $azul;
                }
            }
        }

        .name {
            color: $azul;
        }
    }
}