.iconos-cc {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    background: #f3f3f3;
}

.iconos-cc a.item {
    display: block;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.iconos-cc a.item > div {
    width: 100%;
}

.iconos-cc .icon {
    width: calc(100% - 20px);
    padding: 10px;
}