.fila-botones {
    display: flex;
    justify-content: center;

    .item {
        width: 20vw;
        height: 25vw;
        display: flex;
        padding: 5px;

        .inside {
            background-color: #333;
            width: 100%;
            display: flex;
            justify-content: center;
            background-position: center;
            background-size: cover;

            .name {
                background-color: #C24D3F;
                text-align: center;
                color: white;
                /* border-radius: 50px; */
                padding: 10px;
                padding-right: 25px;
                padding-left: 25px;
                width: 100%;
                font-weight: bold;
                /* margin-top: 10%; */
            }
        }

        &:hover {
            .inside {
                .name {
                    display: none;
                }
            }
        }
    }
}