.titulo-modulo {
    .sec {
        max-width: 1600px;
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    a {
        color: $azul;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
    &.center {
        text-align: center;
    }
}