.tres-botones {
    width: 90%;
    margin: auto;
    max-width: 1600px;
    color: white;
    margin-bottom: 5vh;

    .botones {
        display: flex;

        .boton {
            width: 32.33vw;
            height: 22vw;
            position: relative;
            margin: 0.5%;
            padding: 32px;

            &:nth-child(1) {
                background-color:#225DDC;
            }
      
            &:nth-child(2) {
                background-color:#F4C724;
            }
    
            &:nth-child(3) {
                background-color:#3B3B3B;
            }
    
            .img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
            }

            .name {

                h1 {
                    font-size: 38px;
                }

                h4 {
                    font-family: 'CircularStd', sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 16px;

                    margin-top: 10px;
                    padding-top: 5px;
                    position: absolute;
                    bottom: 30px;
                    width: 85%;

                    &::before {
                        position: absolute;
                        font-family: 'mnm';
                        content: '\E80E';
                        right: 0;
                    }
                 }
            }
        }
    }
    
    @media all and (max-width: 1000px) {
        .botones {
            flex-wrap: wrap;

            .boton {
                width: 100%;
            }
        }
    }
}
