.tres-botones {
    width: 100%;
    margin: auto;
    max-width: 1600px;
    color: white;
    margin-bottom: 9vh;

    .botones {
        display: flex;
        justify-content: center;

        .boton {
            width: 33vw;
            height: 33vw;
            position: relative;
            margin: 0.5%;
            padding: 32px;
            //max-width: 500px;
            max-height: 500px;
            min-height: 190px;

            &:nth-child(1) {
                background-color:#225DDC;
            }
      
            &:nth-child(2) {
                background-color:#F4C724;
            }
    
            &:nth-child(3) {
                background-color:#3B3B3B;
            }
    
            .img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
            }

            .name {
                
                h1 {
                    font-size: 38px;
                }

                h4 {
                    font-family: 'CircularStd', sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 16px;
                    padding-top: 5px;
                    width: 85%;

                    &::before {
                        position: absolute;
                        font-family: 'mnm';
                        content: '\E80E';
                        right: 50px;
                    }
                 }
            }

            @media #{$medium-and-down} {
                max-width: none;
                min-height: 20vw;
                height: auto;
                
                
            }
        }
    }

    &.color {
        .botones {
            .name {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4 {
                    margin-left: 0 !important;
                }
            }
        }

    }
    
    &.segunda{
        .sec {
            display: block;
            width: 100%;
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;

            @media #{$extralarge-and-down} {
                padding-left: 10px;
            }
        }

        .boton {
            background-color: #F6F6F6 !important; 
            max-width: none;
            min-height: 400px;

            .name {
                bottom: 5%;
                position: absolute;

                .btn {
                    background-color: #3B3B3B;

                    &:hover {
                        background: $azul;
                    }
                }

                p {
                    max-width: 70% !important;
                    margin-left: 0 !important;
                    font-weight: 300;
                }
            }

            
        }
    }

    @media all and (max-width: 1000px) {
        .botones {
            flex-wrap: wrap;

            .boton {
                width: 100%;
            }
        }
    }
}
