/* stylelint-disable */
.site-footer {
  background: #f4f4f4;
  color: #151515;
  min-height: em(250);
  padding: em(100,15) 0 em(160,15);
  width: 100%;
  font-size: em(15);
  font-weight: 500;
  position: relative;
  z-index: 50;

  .git {
		font-size: 0.75em;
		margin-top: 5vh;

		a {
			text-decoration: underline;
		}
	}

  .footer_container {
	  max-width: 1000px;
	  margin: 0 auto;
	  padding: 10px;
  }

  a {
  	transition: opacity 300ms;
  	color: #151515;

  	&.mail {
  		opacity: 0.75;
  	}

  	&:hover {
  		opacity: 0.25;
  	}

  }

  .footer-logo {
  	width: 100%;
  	display: block;
	  opacity: 1;
	  max-width: 600px;
	  margin: 0 auto;
	  margin-top: 50px;
	  margin-bottom: 20px;

  	img {
  		width: 100%;
  		height: auto;
  	}
  }

  h2 {
  	font-size: em(23);
  	font-weight: 600;
  	margin-bottom: em(45,23);
  	width: 95%;
  }

  h3 {
  	font-size: em(19);
  	font-weight: 600;
  	margin-bottom: em(31,19);
  }

  .info-links {
	  margin-top: 20px;
	  text-align: center;
	   h3 {
		   margin-bottom: 5px;
	   }

	   .social {
		   margin-top: 20px;
		li {
			display: inline-block;
			margin-right: em(7,15);

			a {
				display: block;
				width: 20px;
				height: 20px;
			}
		}
	}
  }

  section {

  }

  li {
  	line-height: 1.2;
  }

  .footer-museo {
	  display: flex;

	  ul {
		  width: 100%;
	  }

  	h3 {
  		margin-bottom: em(10,19);
  	}

  	.museo-links {
		display: block;
  		margin-bottom: em(27,15);
  	}

  	li {
  		display: block;
		  margin-right: em(12, 15);
		  margin-bottom: 1.33333em;
  	}
  }

  .footer-general {
  	display: flex;

  	& > ul {
		min-width: em(154,15);
		max-width: em(240,15);
		margin-left: em(46,15);
  	}

  	li {
  		margin-bottom: em(20, 15);
  	}

  	
  }

  @media screen and (max-width: 930px) {
  	.footer-museo {
  		h3 {
  			margin-bottom: em(31,19);
  		}

	  	li {
	  		display: block;
	  		margin-bottom: em(20, 15);
	  	}

	  	.museo-links {
	  		margin-bottom: 3em;
	  	}
	  }
	.footer-general {
		display: block;

		ul {
			margin: 0 0 em(45,15) 0;
		}
	}
  }

  .footer-cooperantes {
    max-width: 100%;
    position: relative;
    img {
      width: 100%;
      position: relative;
    }
  }

  @media screen and (max-width: 600px) {
  	padding-bottom: 6em;

	section {
		display: block;
	}

	h3 {
		margin-bottom: 1em
	}

	.footer-general {
		padding-top: 1.75em;
	}

	.footer-museo {
	  	width: em(270,15);

	  	h3 {
	  		margin-bottom: 1em;
	  	}

	  	.museo-links {
	  		margin-bottom: 0;
	  	}

	  	li {
	  		display: inline-block;
	  		margin-right: em(12, 15);
	  		margin-bottom: 1em;
	  	}

	  	.social {
	  		padding-top: 1em;
	  	}
	  }

	  .footer-logo {
	  	padding-top: 0;
	  }
  }
}

.footer-cooperantes {
  background: white;
  padding-top: 2.5em;
  position: relative;
  z-index: 50;
}
