/* stylelint-disable */
.agenda-wrapper {
  position: relative;
}

.agenda {
  max-width: $max-width;
  overflow: visible;
  font-size: em(15);

  @media screen and (min-width: 1000px) {
    font-size: em(13);
  }

  &.medallo {
    max-width:  110em !important;
    padding: 5em 0 10em 0 !important;
    margin-bottom: 2em !important;

    .texto {
      font-size: 1.125em;
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      margin-top: 0px;
      line-height: 1.8em;
      margin-top: 2em;

      &.participante p{
        font-size: 1em !important;
        font-family: 'CircularStd', sans-serif !important;
      }
    }

    .item-agenda {
      max-width: 500px;
      max-height: 600px;
      height: 80vh;

      @media all and (max-width: 850px) {
        border-bottom: none;
        border-left: none;
        border-right: none;
      }

      .inside {
        position: absolute;
        top: 110px;
      }
    }

    .timeNav .meses {
      display: none;
    }
  }
  
  .hori_scroll {
    position: absolute;
    width: 2.5em;
    top: 0.5em;
    left: 0;
    z-index: 10;
    text-align: center;
    font-size: em(16,13);

    div {
      width: 2.5em;
      height: 2.5em;
      padding: 0;
      margin: 0 0 0.3125em 0;
      cursor: pointer;
      position: relative;
      font-family: 'mnm';

      &.disabled {
        color: #ccc;
        border-color: #ccc;
      }
    }

    .num {
      text-align: center;
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 1.375em;
      margin-bottom: 0.72727em;
    }
  }

  .timeNav {
    .meses {
      font-weight: 500;
      font-size: em(20);
      // padding: 0 em(20,20);
      margin-bottom: em(20);
      overflow: hidden;

      @media screen and (min-width: 1000px) {
        font-size: em(26);
        // padding: 0 em(20,26);
        margin-bottom: em(20,26);
      }
    }
    .meses,
    .dias {
      .item {
        text-transform: lowercase;
        display: inline-block;
      }
    }

    .meses {
      .item {
        color: #999;
        cursor: pointer;
        margin-right: em(10,14);

        &.selected {
          color: #000;
        }
      }
    }

    .dias {
      // padding: 0 em(20);
      // margin-bottom: em(20);
      font-weight: 500;
      cursor: pointer;

      @media screen and (min-width: 1000px) {
        margin-bottom: em(70);
      }

      .item {
        font-size: em(47);
        text-align: center;
        margin-right: em(5);
        color:#ccc;
        display: none;
        transition: opacity 300ms;
        margin-right: em(8);

        @media screen and (min-width: 650px) {
          margin-right: em(10);
        }

        @media screen and (min-width: 1000px) {
          font-size: em(70);
        }

        span {
          font-size: em(23,47);
          display: block;
        }

        &.selected {
          color: #000;
        }

        &:hover {
          color: #333;
        }
      }
    }
  }

  .items {
    margin-top: em(25);
    width: 100%;
    overflow: visible;
    padding: 0.9375em 0.9375em 0 4em;

    @media screen and (min-width: 1024px) {
      margin-top: em(50);
      padding: 0.9375em 0.9375em 0 5em;
    }

  }

  .item-agenda {
    text-decoration: none;
    color: #000;
    width: 70vw;
    height: 70vw;
    max-width: 350px;
    max-height: 350px;
    display: block;
    position: relative;
    border: 2px solid black;
    margin-right: em(20);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1.25em em(30);
    // opacity: 0.1;

    &.escondido {
      opacity: 0.25;
    }

    @media screen and (max-width: 400px) {
      padding: 1.25em 1.25em;
    }

    

    @media screen and (min-width: 1000px) {
      margin-right: em(45);
      padding: em(33) em(25);
    }

    &.is-selected {
      opacity: 1;
    }

    &.escondido{
      @include left-offset(-60px);
      @include transition-mix(transform);
    }

    &:hover {
      a:not(:hover){
          opacity: 0.25;
      }
    }

    .inside {
      // position: absolute;
      // bottom: 10px;
      width: 90%;

      @media screen and (max-width: 400px) {
        font-size: 0.75em;
      }
    }

    .nombre {
      font-size: 1.5625em;
      font-weight: 600;
      margin: 0 0 0.4em;

      @media screen and (min-width: 1000px) {
        font-size: em(30);
      }
    }

    .hora {
      display: block;
      position: absolute;
      left: 0.25em;
      top: -0.2em;
      font-size: 2.925em;
      text-transform: uppercase;
      line-height: 0.75;
      // opacity: 0;
      font-family: 'CircularStd', sans-serif;
      transition: opacity 300ms ease 200ms, transform 300ms ease 200ms;
      transform: translate3d(0, 0, 0);
      letter-spacing: 4px;
      background: white;
      z-index: 1;
      display: inline-block;
      width: auto;
      padding-left: 10px;
      padding-right: 5px;

      @media screen and (min-width: 1000px) {
        font-size: em(60);
        left: em(25,60);
      }

      @media screen and (max-width: 400px) {
        font-size: 2.25em;
        letter-spacing: 2px;
      }
    }

    .time {
      font-size: 0.9375em;
      font-family: 'Inter', sans-serif;
      margin-bottom: 0.4375em;

      &::before {
        font-family: 'mnm';
        display: inline-block;
        content: '\E80D';
        font-size: 14px;
        margin-right: 5px;
      }
    }

    .ubicacion {
      font-size: 0.9375em;
      font-family: 'Inter', sans-serif;
      margin-bottom: 0.4375em;
      text-transform: capitalize;

      &::before {
        font-family: 'mnm';
        display: inline-block;
        content: '\E80C';
        font-size: 14px;
        margin-right: 5px;
        padding-left: 2px;
      }
    }

    .tipo {
          font-size: 0.875em;
          text-transform: capitalize;
          font-weight: 600;
          display: block;
          margin-bottom: 2em;
    }
  }
}

.site-section {
  margin-bottom: em(70);

  @media screen and (min-width: 850px) {
    margin-bottom: em(110);
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: em(160);

    #archive_item_content & {
      margin-bottom: em(110);
    }
  }
}
