/* stylelint-disable */
.radio-banner {
	width: 100%;
	background: white;
	z-index: 50;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: em(20) 5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;

	h1 {
		margin-bottom: em(3,20);
		font-size: em(20);
	}

	h2 {
	  color: #666;
	  font-weight: 400;
	  font-size: em(15);
	}

	.play-icon {
	  border: none;
	  background: none;
	  padding: 0;
	  margin: 0;
	  outline: none;
	  cursor: pointer;
	  margin-left: 1px;
	}

	.play-icon svg {
	  width: auto;
	  height: em(40);
	  display: block;
	}

	#bars {
	    height: 30px;
	    position: relative;
	    width: 40px;
	}

	.bar {
	   background: #ff7153;
	    bottom: 1px;
	    height: 3px;
	    position: absolute;
	    width: 3px;   
	    animation: sound 0ms -800ms linear infinite alternate;
	    animation-play-state: paused;
	}

	#bars.active .bar {
	  animation-play-state: running;
	}

	@keyframes sound {
	    0% {
	       opacity: .35;
	        height: 3px; 
	    }
	    100% {
	        opacity: 1;       
	        height: 28px;        
	    }
	}

	.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
	.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
	.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
	.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
	.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
	.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
	.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
	.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
	.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
	.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }

	.play-container {
	  display: flex;
	  justify-content: space-between;
	  align-items: flex-end;
	}

	@media screen and (max-width: 500px) {
		font-size: 4vw;
	}
}