#secondary_menu {
    // position: absolute;
    // top: 90px;
    font-size: 0.875em;
    font-weight: 600;
    background-color: #DEDEDE;
    z-index: 2;
    width: 100%;
    transition: opacity 300ms;
    .filtroOpciones {
      overflow: auto;
      li {
        float: left;
        border-bottom: none;
        border-left: none;
        border-top: none;
        font-size: 0.8em;
      }
      .itemCat {
        position: relative;
        cursor: pointer;
        &:hover {
          color: black;
        }
        &.active {
          background: black;
          color: white;
          margin-right: 30px;
          border-color: black;
          .close {
            display: block;
          }
        }
        .close {
          position: absolute;
          width: 30px;
          height: 31px;
          right: -30px;
          color: white;
          top: 0;
          background: black;
          display: none;
          &:before {
            content: '\e803';
            position: absolute;
            font-family: 'mnm';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 30px;
          }
        }
        .single &.categoria {
          color: white;
        }
      }
      .txtFilter {
        font-size: 0.65em;
        text-transform: uppercase;
        font-weight: bold !important;
        color: #999;
      }
      .lista,
      .cuadricula {
        width: 37.5px;
        height: 31px;
        position: relative;
        color: #999;
        cursor: pointer;
      }
      .lista {
        border-right: none;
      }
      .buscar {
        width: 50px;
        height: 31px;
        position: relative;
        color: #999;
        transition: width 300ms;
        input {
          background: transparent;
          border: none;
          width: calc(100% - 60px);
          line-height: 30px;
          padding: 0;
          font-size: 15px;
          margin-left: 20px;
          display: none;
          outline: none;
        }
        &:hover {
          color: black;
          cursor: pointer;
        }
        &:before {
          content: '\e80b';
          font-family: 'mnm';
          text-align: center;
          position: absolute;
          width: 50px;
          height: 100%;
          line-height: 30px;
          right: 0;
          font-size: 1.5em;
        }
        &.active {
          width: 200px;
          color: black;
          input {
            display: block;
          }
        }
      }
    }
    .parent-nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 4em;
      overflow: hidden;
      line-height: 30px;
  
      @media all and (max-width: 800px) {
          overflow-x: scroll;
          -webkit-overflow-scrolling: touch;
        }
  
        
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
          background: transparent;
        }
  
      &.expanded {
        
        .general {
          flex-shrink: 0;
          width: auto;
          li:first-child {
            margin-right: 0;
          }
        }
      }
      .general,
      .dropdown {
        white-space: nowrap;
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        font-size: 1.125em;
        color: #333;
        @media screen and (min-width: 1024px) {
          width: auto;
        }
      }
      .dropdown {
        width: 100%;
      }
    }
    .menu-on & {
      // opacity: 0;
    }
    .dropdown {
      .link {
        padding: 0.7em 2.5em 0.7em 0em;
        color: white;
        // @include font-header();
        font-size: 0.8em;
        &.categoria {
          color: white;
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
      }
      .item_drop {
        display: inline-block;
        cursor: pointer;
        color: white;
        position: relative;
        padding: 0.7em 2.5em 0.7em 0em;
        line-height: 30px;
        // @include font-header();
        font-size: 0.8em;
  
        &::after {
          // content: "\E816";
          font-family: 'mnm';
          font-size: 0.8em;
          position: absolute;
          right: 1.5em;
          width: 20px;
          height: 20px;
          top: 50%;
          margin-top: -10px;
          line-height: 20px;
          text-align: center;
          transition: top 0.25s;
          -moz-transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
          transition: all 0.2s;
        }
        &.active {
          color: $black;
          &::after {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
      .buscar {
        position: relative;
        cursor: pointer;
        input {
          outline: none;
          line-height: 1.7em;
          padding: 0em 0.3em;
          width: 2.3em;
          border: none;
          background-color: transparent;
        }
        &:before {
          position: absolute;
          width: 2.3em;
          text-align: center;
          line-height: 1.7em;
          content: '\e80b';
          font-family: 'mnm';
          top: 0;
          right: 0;
          color: white;
          height: 100%;
        }
        &:hover {
          &:before {
            color: #333;
          }
        }
        &.active {
          &:before {
            color: #222;
          }
          input {
            width: 15em;
            background-color: white;
          }
        }
      }
      .lista,
      .cuadricula {
        width: 2em;
        height: calc(1.7em + 2px);
        position: relative;
        cursor: pointer;
        padding: 5px;
  
        path {
          fill: white;
        }
        
        &:hover {
          path {
            fill: #999;
          }
        }
        &.active {
          path {
            fill: $amarillo;
          }
        }
      }
      .cuadricula {
        margin-left: 1em;
      }
    }
    .general {
      width: 0px;
      a {
        padding: 0.7em 1.25em;
        padding-right: 0;
        display: inline-block;
        color: white;
      }
      .expand {
        width: 25px;
        height: 25px;
        position: relative;
        text-align: center;
        font-weight: 100;
        // @include border-radius(20px);
        transform: rotate(45deg);
        &:before {
          content: "\E803";
          width: 100%;
          height: 100%;
          line-height: 25px;
          top: 0;
          left: 0;
          color: black;
          font-family: 'mnm';
          font-size: 0.6em;
        }
        @media screen and (min-width:1024px) {
          display: none;
        }
        &.expanded {
          transform: rotate(0);
        }
      }
    }
    .dropBlock {
      display: none;
      .left,
      .right {
        opacity: 0;
      }
      .right {
        margin-left: 30px;
        display: flex;
        a {
          margin-left: 1em;
          @media screen and (max-width: 1100px) {
            &:last-of-type {
              display: none;
            }
          }
        }
        @media screen and (max-width: 750px) {
          display: none;
        }
      }
      ul li,
      ul {
        display: block;
        line-height: 30px;
        margin-left: 10px;
      }
      ul li {
        font-size: 1.2em;
        margin-bottom: 0.75em;
        font-weight: 500;
  
        &:hover {
          opacity: 0.8 !important;
        }
      }
      .item_noticia {
        width: 310px;
        height: 200px;
        background-color: #ddd;
        background-size: cover;
        background-position: center; //   margin-left: 1em;
        display: block;
        position: relative;
        margin-bottom: 1em;
        overflow: hidden; //   &:before {
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background: white;
        //     top: 0;
        //     left: 0;
        //     opacity: 0;
        //     transition: all 0.2s;
        //     content: '';
        //   }
        .title {
          padding: 0.5em;
          position: relative;
          top: -20px;
          transition: all 0.2s;
          opacity: 0;
          font-weight: 600;
        }
      }
    }
  }