body.page-template-template-caminando {
    .leaflet-pane.leaflet-marker-pane{
        img {
            border-radius: 100px;
        }
    }

    .titulo-modulo .sec {
        color: #89b7be;
        text-align: center;
        font-size: 2em;
    }

    .subtitulo-sec {
        text-align: center;
    }

    #mapaid.main {
        // margin: 15px;
    }

    .linea-tiempo {
        background: #8fb7be;
        color: white;
        padding: 60px;

        .top {
            margin-top: 50px;
        }

        .nav {
            margin-top: 20px;
        }

        .dot {
            background: white;
            opacity: 0.5;

            &.active {
                background-color: white;
                opacity: 1;
            }

            .fecha {
                color: white;
            }
        }

        .next, .prev {
            color: white;
        }
    }

    .topHeader {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        border-bottom: 5px solid #89b7be;

        .logoCaminando {
            width: 500px;
        }
    }

    .informacion {
        background-color: #89b7be;
        padding-top: 5vh;
        padding-bottom: 5vh;

        h2, h3 {
            color:#223336;
            max-width: none !important;
            text-transform: uppercase;
            font-weight: 400;
        }

        .title {
            justify-content: center;
            display: flex;

            .icon {
                width: 80px;
                margin-right: 20px;
            }
        }

        .txt {
            margin-top: 2.5vh;

            p {
                font-weight: 700;
                color: white;
            }
        }

        .inside {
            max-width: 1600px;
            margin: 0 auto;
        }
    }

    .mapaContainer {
        position: relative;
        font-family: 'Quicksand', sans-serif;
        .updated {
            display: none;
        }
        #acf-form {
            .acf-label {
                display: none;
            }

            .acf-notice.-error.acf-error-message.-dismiss,
            .acf-notice.-error.acf-error-message {
                width: calc(100% - 320px);
            }

            div[data-key=_post_title],
            div[data-key=field_5bbb8364dbc4c],
            div[data-key=field_5bb4dc07613ba],
            div[data-key=field_5ef614f924e8f],
            div[data-key=field_5ef6150324e90],
            div[data-key=field_5ef6150b24e91],
            div[data-key=field_5ef62bb839c9a],
            div[data-key=field_5ef618221215b],
            div[data-key=field_5bb66b886fb7c],
            .acf-form-submit {
                display: none;
            }
        }

        .sideContent {
            position: absolute;
            top: 15px;
            z-index: 900;
            height: 100%;
            overflow: auto;
            padding-bottom: 20vh;
            right: 12px;
            background: rgba(255, 255, 255, 0.7);

            @media all and (max-width: 900px) {
                display: none;
            }

            #enviar_btn, #subir_btn {
                padding: 10px;
                text-align: center;
                border: 3px solid #89b7be;
                color: #89b7be;
                background-color: white;
                margin-top: 2.5vh;

                &:hover {
                    background-color: #89b7be;
                    color: white;
                    cursor: pointer;
                }
            }

            #subir_btn {
                color: white;
                background-color: #89b7be;
            }

            .content {
                padding: 10px;
                width: 300px;

                textarea, input[type=text] {
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    border: 3px solid #999;
                    outline: none;
                    margin-bottom: 2.5vh;

                    &:focus {
                        border-color: #89b7be;
                    }
                }

                .label {
                    font-weight: 700;
                    color: #555;
                    line-height: 24px !important;

                    span {
                        color: #89b7be;
                    }
                }

                .info {
                    width: calc(100% + 20px);
                    position: relative;
                    left: -10px;
                    top: -10px;
                    background-color: #89b7be;
                    padding: 10px;
                    color: white;
                }

                #listado_paleta {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}