.form_mail {
    display: block !important;

    h3 {
        margin: 0 !important;
        margin-bottom: 10px !important;
    }

    .acf-fields {
        display: flex;
        align-items: flex-end;

        .acf-label {
            margin-bottom: 0;
            display: none;

            label {
                margin: 0;
                font-weight: normal;
                color: #999;
            }
        }

        .acf-field {
            padding: 0;
            width: 100%;
            padding-right: 5px;
            border-top: none !important;

            input {
                width: 100%;
                line-height: 40px;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 3px;
            }
        }
    }

    .acf-button {
        border: none;
        background: #dcdcdc;
        padding: 10px;
        color: white;
        margin-top: 5px;
        color: #999;
        border-radius: 30px;
        color: #333;
        font-weight: bold;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 2.5vh;

        &:hover {
            background: $azul;
            color: white;
        }
    }

    .acf-form-submit {
        text-align: center;
    }
}