.itemListado {
    text-align: left;
    font-size: 0.6em;
    font-weight: normal;

    > th {
        border: 1px solid #999;
        padding: 5px;
    }

    &:nth-child(even){
        background: #ececec;
    }
}