$dimMenu: 70px;
$widthSide: 350px;
$zindex_sidemenu: 110;
$zindex_topmenu: 100;
$max-width: 1100px;
$max-side-width: em(450);

$color2: #d5941c;

$white: rgb(255, 255, 255);
$black:  #3B3B3B;
$gris: #9A9A9A;
$grisclaro: #f4f4f4;
$amarillo: #ffc800;
$azul: #3e6cd1;
$rojo: #C24D3F;
$verde: #29Af93;

$color-menu: #ff7153;

$rosado: #fcebeb;

$ancho: 350px;
$ancho2: 280px;
$ancho_tercio: 70px;
$altura_menu: 60px;

$dobleancho: 700px;
$tripleancho: 1050px;

$ancho_small: 50px;

//tamaños de pantalla para media queries

$small-screen: 650px !default;
$medium-screen: 980px !default;
$large-screen: 1200px !default;
$extralarge-screen: 1600px !default;

$small-screen-up: 651px !default;
$medium-screen-up: 981px !default;
$large-screen-up: 1201px !default;
$extralarge-screen-up: 1601px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;

$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
$extralarge-and-down: "only screen and (max-width : #{$extralarge-screen})" !default;

$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$extra-large-only: "only screen and (min-width : #{$large-screen-up}) and (max-width : #{$extralarge-screen})" !default;


@mixin top-offset($pos) {
  -moz-transform: translateY($pos);
  -webkit-transform: translateY($pos);
  -o-transform: translateY($pos);
  -ms-transform: translateY($pos);
  transform: translateY($pos);
}

@mixin border-radius($pos) {
  -webkit-border-radius: $pos;
  -moz-border-radius: $pos;
  border-radius: $pos;
}

@mixin left-offset($pos) {
  -moz-transform: translateX($pos);
  -webkit-transform: translateX($pos);
  -o-transform: translateX($pos);
  -ms-transform: translateX($pos);
  transform: translateX($pos);
}

@mixin transition-mix($prop) {
  -webkit-transition: $prop 0.2s ease;
  -moz-transition: $prop 0.2s ease;
  -ms-transition: $prop 0.2s ease;
  -o-transition: $prop 0.2s ease;
  transition: $prop 0.2s ease;
}

@mixin center-all() {
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
