.parent-pageid-11339, .page-id-11339 {
    .navegacion_especiales {
        background: #F6c04b;
    }
    
    .navegacion_especiales .item {
        background: #F6c04b;
    }
    
    .navegacion_especiales .item.active::after {
        background-color: #6cb0b9;
    }
    
    .navegacion_scroll .item, .navegacion_scroll {
        background: #F6c04b;
    }
    
    .navegacion_scroll{
        border-bottom: 1px solid #e2ac35;
    }

    .fila-botones .item .inside .name{
        background: #F6c04b;
    }

    .slider-columna:not(.half).rojo .left{
        background: #F6c04b;
    }

    .slider-columna.half .left {
        background: #F6c04b;
    }

    .titulo-modulo {
        text-align: center;
        font-size: 2em;
        color: #6cb0b9;
    }
    
    .titulo-modulo h2 {
        color: #6cb0b9;
        font-weight: normal;
    }
}